{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="containerMade">

        {% if app.user %}
            <div class="profilSettingsContainer">
                {% if app.user.image %}
                    <img class="imgPdpSetting" src="{{ vich_uploader_asset(app.user.image) }}" alt="">
                {% else %}
                    <img class="imgPdpSetting" src="{{ asset('images/imgProfil.png') }}" alt="">
                {% endif %}
                <div class="informationsContainer">
                  <div class="informationProfilContainer">
                      <div class="informationProfil">
                          <div class="labelInformationProfil">
                              <i class="bi bi-person-lines-fill"></i>
                              <input type="text" id="inputUsernameProfil" readonly name="username"
                                     value="{{ app.user.username }}">
                              <input type="hidden" id="userIdProfil" readonly name="id" value="{{ app.user.id }}">
                          </div>

                          <div class="line"></div>
                      </div>

                      <div class="informationProfil">
                          <div class="labelInformationProfil">
                              <i class="bi bi-envelope"></i>
                              <span> {{ app.user.email }}</span>
                          </div>

                          <div class="line"></div>
                      </div>
                  </div>

                    <div class="gestionOptions">
                        <button id="saveChanges" class="btn boutonHeader">Changer le nom d'utilisateur</button>
                        <button class="btn boutonHeader" id="updateProfil">Modifier le profil</button>
                        <button  class="btn boutonHeader">
                            <a href="{{ path('app_logout') }}">Se déconnecter</a>
                        </button>

                            <button class="btn boutonHeader"><a class="" href="{{ path('new_article') }}">Creer</a></button>
                            <button class="btn boutonHeader"><a class="" href="{{ path('add_video') }}">ajouter une video</a>
                            </button>
                            <button class="btn boutonHeader"><a class="" href="{{ path('add_audio') }}">ajouter un podcast</a>
                            </button>
                            <button class="btn boutonHeader"><a class="" href="{{ path('new_article') }}">ajouter un article</a>
                            </button>
                            <button class="btn boutonHeader"><a class="" href="{{ path('add_user_image') }}">ajouter une pdp</a>
                            </button>

                    </div>
                </div>

            </div>

        {% endif %}

    </div>
    {% if app.user %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const inputUsername = document.querySelector('#inputUsernameProfil');
                const changeButton = document.querySelector('#updateProfil');
                const saveButton = document.querySelector('#saveChanges');
                const userId = document.querySelector('#userIdProfil').value;

                console.log(inputUsername,changeButton)

                changeButton.addEventListener('click', function() {
                    inputUsername.removeAttribute('readonly');
                    changeButton.style.display = 'none';
                    saveButton.style.display = 'block';
                    inputUsername.classList.toggle('focus')
                    document.querySelector('#inputUsernameProfil').style.pointerEvents = 'auto';
                });

                saveButton.addEventListener('click', function() {
                    const newUsername = inputUsername.value.trim();
                    if (newUsername.length > 3) {
                        changeUsername(userId,newUsername).then(response=>{
                            console.log(response)
                            inputUsername.setAttribute('readonly', true);
                            saveButton.style.display = 'none';
                            changeButton.style.display = 'block';
                            inputUsername.classList.toggle('focus')
                            document.querySelector('#inputUsernameProfil').style.pointerEvents = 'none';

                        })
                    } else {
                        alert('Le nom d\'utilisateur doit contenir au moins 3 caractères.');
                    }
                });
            });

            async function changeUsername(id,username){
                return await fetch(`http://localhost:8000/user/update/username/${id}/${username}`, {

                })
                    .then(response => response.json())
                    .then(data => {
                        return data
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }



        </script>
        {#   <script src="{{ asset('js/changeUsername.js') }}" defer></script>#}
    {% endif %}
{% endblock %}
